name: PR Builder

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Maven build
        run: |
          chmod +x script.sh
          ./script.sh
